*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  box-sizing: border-box;
  padding: 2rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-19rem); }
  80% {
    transform: translateX(0.625rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(19rem); }
  80% {
    transform: translateX(-0.625rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveINDowntoUp {
  0% {
    opacity: 0;
    transform: translateY(9.4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 2rem; }

.heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading--prime {
    display: block;
    letter-spacing: 1rem;
    font-size: 6.9rem;
    font-weight: 300;
    animation-name: moveInLeft;
    animation-duration: 1s; }
  .heading--sub {
    display: block;
    margin-bottom: 4rem;
    letter-spacing: 1.3rem;
    animation-name: moveInRight;
    animation-duration: 1s; }

.secondary-heading {
  display: inline-block;
  background-image: linear-gradient(to right, #74c0fc, #228be6);
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s;
  -webkit-background-clip: text;
  color: transparent; }
  .secondary-heading:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0.6rem 1rem 2rem black, 0.2; }

.teritary-heading {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: #868e96; }

.paragraph {
  font-size: 1.3rem;
  font-weight: 400;
  color: #868e96; }

.ulity-text-center {
  text-align: center; }

.u-mb {
  margin-bottom: 5rem; }

.u-para-mb {
  margin-bottom: 3rem; }

.btn:link, .btn:visited {
  padding: 10px 60px;
  border-radius: 100px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  transition: all;
  display: inline-block;
  animation: moveINDowntoUp 1s;
  animation-delay: 0.75s;
  position: relative;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #fff;
  color: rgba(24, 100, 171, 0.8); }

.btn:hover {
  transform: translateY(-0.1875rem);
  box-shadow: 0rem 0.625rem 1.4rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.8);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.125rem);
  box-shadow: 0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  /* Enables top, left to work */
  top: 0;
  left: 0;
  display: block;
  /* Ensures width and height are applied */
  background-color: #fff;
  z-index: -1;
  transition: all 0.4s; }

.linkHere:link, .linkHere:visited {
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  color: #74c0fc;
  transition: all 0.2s;
  border-bottom: 3px solid #74c0fc; }

.linkHere:hover {
  background-color: #228be6;
  border-bottom: 3px solid #74c0fc;
  transform: translateY(-3px);
  color: #fff; }

.linkHere:active {
  background-color: #228be6;
  border-bottom: 3px solid #74c0fc;
  transform: translateY(-2px);
  color: #fff; }

.heroContainer {
  background-image: linear-gradient(to right bottom, rgba(116, 192, 252, 0.8), rgba(34, 139, 230, 0.8)), url(./assets/img/hero-img.jpg);
  height: 95vh;
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .heroContainer__text-box {
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center; }

.rowContainer {
  max-width: 72.5rem;
  margin: 0 auto; }
  .rowContainer::after {
    content: "";
    display: table;
    clear: both; }
  .rowContainer:not(:last-child) {
    margin-bottom: 4rem; }
  .rowContainer [class^="col-"] {
    float: left; }
    .rowContainer [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .rowContainer .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .rowContainer .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .rowContainer .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 5rem) / 3) + 5rem); }
  .rowContainer .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .rowContainer .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 5rem) / 4) + 5rem); }
  .rowContainer .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 5rem) / 4) + 2 * 5rem); }

.secondaryContainer {
  background-color: #f8f9fa;
  margin-top: -20vh;
  padding: 25rem 0rem; }

.feature-section {
  padding: 25rem 0;
  background-image: linear-gradient(to right bottom, rgba(116, 192, 252, 0.8), rgba(34, 139, 230, 0.8)), url(./assets/img/hero-img.jpg);
  background-size: cover;
  transform: skew(-7deg);
  display: inline-block; }
  .feature-section > * {
    transform: skew(7deg); }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 2rem; }

.heading {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading--prime {
    display: block;
    letter-spacing: 1rem;
    font-size: 6.9rem;
    font-weight: 300;
    animation-name: moveInLeft;
    animation-duration: 1s; }
  .heading--sub {
    display: block;
    margin-bottom: 4rem;
    letter-spacing: 1.3rem;
    animation-name: moveInRight;
    animation-duration: 1s; }

.secondary-heading {
  display: inline-block;
  background-image: linear-gradient(to right, #74c0fc, #228be6);
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s;
  -webkit-background-clip: text;
  color: transparent; }
  .secondary-heading:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0.6rem 1rem 2rem black, 0.2; }

.teritary-heading {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: #868e96; }

.paragraph {
  font-size: 1.3rem;
  font-weight: 400;
  color: #868e96; }

.ulity-text-center {
  text-align: center; }

.u-mb {
  margin-bottom: 5rem; }

.u-para-mb {
  margin-bottom: 3rem; }

.composition {
  position: relative;
  transition: all 0.2s;
  z-index: 10; }
  .composition__image {
    position: absolute;
    width: 55%;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
    outline-offset: 2rem;
    transition: all 0.2s; }
    .composition__image:hover {
      outline: 10px solid #74c0fc;
      box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      transform: scale(1.1); }
    .composition__image--photo1 {
      left: 0;
      top: -2rem; }
    .composition__image--photo2 {
      left: 25rem;
      top: 3rem; }
    .composition__image--photo3 {
      left: 10rem;
      top: 5rem; }
  .composition:hover:not(.composition__image) {
    transform: scale(0.9); }

.feature-box {
  background-color: #f8f9fa;
  padding: 2rem;
  transform: transition 0.5s;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2); }
  .feature-box:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.2); }
