.ulity-text-center {
  text-align: center;
}

.u-mb {
  margin-bottom: 5rem;
}

.u-mb-m {
  margin-bottom: 2rem;
}
.u-para-mb {
  margin-bottom: $medium-marginBottom;
}

.u-mt {
  margin-top: $medium-marginBottom;
}
